<a [routerLink]="['/']">
  <h1><i class="material-icons">menu</i>Larai's Femme</h1>
</a>

<ul>
  <li>
    <a [routerLink]="['/']" class="button fancy-button">
      <i class="material-icons">home</i>Home
    </a>
  </li>
  <li>
    <a [routerLink]="['/']" class="button fancy-button">
      <i class="material-icons">list</i>Products
    </a>
  </li>
  <li>
    <a [routerLink]="$1" class="button fancy-button"> 
      <i class="material-icons">announcement</i>Blog </a>
  </li>
  <li>
    <a [routerLink]="$1" class="button fancy-button">
      <i class="material-icons">info</i>About Us
    </a>
  </li>
  <li>
    <a [routerLink]="$1" class="button fancy-button">
      <i class="material-icons">contact_support</i>Contact Us
    </a>
  </li>
  <li>
    <a routerLink="/cart" class="button fancy-button">
      <i class="material-icons">shopping_cart</i>
    </a>
  </li>
</ul>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
